# ==============================================================================
# Dependencies for the Multi-Task Siamese Face Recognition Project
# ==============================================================================
#
# To install all dependencies, run:
# pip install -r requirements.txt


keras-facenet
mtcnn
opencv-python
albumentations
pandas
numpy
scikit-learn
matplotlib
seaborn
ipywidgets
ipython
tqdm